.container::before{
    content: "";
    background-image:url(../../public/bunny.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -10;
    filter: opacity(30%)
}